@model  iranAttractions.ViewModels.AddSightViewModel
@{
    ViewData["Title"] = "displayAdd";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">افزودن استان</h1>
        </div>
  
        <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="905" height="30" style="display: block; width: 905px; height: 30px;"></canvas>

    <form asp-action="AddSight" asp-controller="AddSigh" method="post">
        
        <div> 
            <label class="form-label">نام استان</label>
            <select class="form-control" asp-for="CityId" asp-items="Model.CityLists"></select>
        </div>

        <div class="mb-3">
          <label for="provinceName" class="form-label">نام جاذبه</label>
          <input asp-for="Name" type="text" class="form-control" id="provinceName">
        </div>
        
        <div class="mb-3">
          <label for="provinceDescription" class="form-label">توضیحات</label>
          <textarea asp-for="Description" class="form-control" id="provinceDescription" rows="3"></textarea>
        </div>

        <div class="mb-3 row">
            <div class="col-6">
              <label for="latitude" class="form-label">عرض جغرافیایی</label>
                <input asp-for="lat" type="number" step="0.0000000001" class="form-control" id="latitude">
            </div>
            
            <div class="col-6">
              <label for="longitude" class="form-label">طول جغرافیایی</label>
                <input asp-for="lon" type="number" step="0.0000000001" class="form-control" id="longitude">
            </div>
          </div>
          
        
        <button type="submit" class="btn btn-save">ذخیره</button>
      </form>

      </main>
  

