@model IEnumerable<iranAttractions.ViewModels.PictureListViewModel>


  @section gallary{
    <link rel="stylesheet" href="~/css/Album.css">

  }
  <div class="main">
    <!-- فرم جستجو -->
    <section class="search-section">
        <form method="get" action="/Album/PictureList">
            <div class="form-group search-box">
                <input type="text" id="searchQuery" name="searchQuery" placeholder="جاذبه یا شهر موردنظر را وارد کنید!" />
                <button type="submit" class="btn-search">جستجو</button>
            </div>
        </form>
    </section>

    <!-- گالری تصاویر -->
    <div class="gallery">
        @foreach (var picture in Model)
        {
             string src = Url.Content("~/uploads/" +picture.FilePath );
            <div class="gallery-item">
                <img src="@src" alt="عکس" class="gallery-image" />
                <div class="pic-text">
                    <strong>
                        @picture.SightseeingName<br />
                    </strong>
                    <strong> 
                        @picture.ProvinceName
                    </strong>
                </div>
            </div>
        }
    </div>

</div>

